<div ng-controller="ctrlLabourCost">
	<h2>Labour cost report</h2>

	<div class="" ng-if="costProviders">
		<table class="matrix-table reports-table">
			<thead>
				<tr>
					<th class="volume toggle" ng-click="toggleSort('name', false)">
						<span>Payroll Provider</span>
						<i class="icon small sort chevron-up" ng-if="isSortBy('name', false)"></i>
						<i class="icon small sort chevron-down" ng-if="isSortBy('name', true)"></i>
					</th>
					<th class="volume toggle" ng-click="toggleSort('workerCount', true)">
						<span>Worker</span>
						<i class="icon small sort chevron-up" ng-if="isSortBy('workerCount', false)"></i>
						<i class="icon small sort chevron-down" ng-if="isSortBy('workerCount', true)"></i>
					</th>
					<th class="percentage toggle" ng-click="toggleSort('compliancePercent', true)">
						<span>Compliance Score</span>
						<i class="icon small sort chevron-up" ng-if="isSortBy('compliancePercent', false)"></i>
						<i class="icon small sort chevron-down" ng-if="isSortBy('compliancePercent', true)"></i>
					</th>
					<th class=""></th>
					<th class="currency toggle" ng-click="toggleSort('grossPayTotal', true)">
						<span>Gross Pay (&pound;)</span>
						<i class="icon small sort chevron-up" ng-if="isSortBy('grossPayTotal', false)"></i>
						<i class="icon small sort chevron-down" ng-if="isSortBy('grossPayTotal', true)"></i>
					</th>
					<th class="currency toggle" ng-click="toggleSort('payrollAdminTotal', true)">
						<span>Payroll Admin (&pound;)</span>
						<i class="icon small sort chevron-up" ng-if="isSortBy('payrollAdminTotal', false)"></i>
						<i class="icon small sort chevron-down" ng-if="isSortBy('payrollAdminTotal', true)"></i>
					</th>
					<th class="currency toggle" ng-click="toggleSort('labourCostTotal', true)">
						<span>Labour Cost (&pound;)</span>
						<i class="icon small sort chevron-up" ng-if="isSortBy('labourCostTotal', false)"></i>
						<i class="icon small sort chevron-down" ng-if="isSortBy('labourCostTotal', true)"></i>
					</th>
					<th class=""></th>
					<th class="percentage toggle" ng-click="toggleSort('workForcePercent', true)">
						<span>Work-force</span>
						<i class="icon small sort chevron-up" ng-if="isSortBy('workForcePercent', false)"></i>
						<i class="icon small sort chevron-down" ng-if="isSortBy('workForcePercent', true)"></i>
					</th>
				</tr>
			</thead>
			<tbody sortimate="[costProviders, sortField, sortReverse]">
				<tr class="gap" ng-if="costDirectContractors">
					<td colspan="9"></td>
				</tr>
				<tr class="" ng-if="costDirectContractors">
					<th class="minor volume" ng-class="{'sorted': isSortBy('name')}">
						<span>{{costDirectContractors.name}}</span>
					</th>
					<td class="volume" ng-class="{'sorted': isSortBy('workerCount')}">
						<span>{{costDirectContractors.workerCount}}</span>
					</td>
					<td class="percentage" ng-class="{'sorted': isSortBy('compliancePercent')}">
						<span>{{costDirectContractors.compliancePercent | percentage}}</span>
					</td>
					<td class="divider"></td>
					<td class="currency em" ng-class="{'sorted': isSortBy('grossPayTotal')}">
						<span ng-if="costDirectContractors.grossPayTotal">{{costDirectContractors.grossPayTotal | currency:'':0}}</span>
						<span ng-if="!costDirectContractors.grossPayTotal">-</span>
					</td>
					<td class="currency" ng-class="{'sorted': isSortBy('payrollAdminTotal')}">
						<span ng-if="costDirectContractors.payrollAdminTotal">{{costDirectContractors.payrollAdminTotal | currency:'':0}}</span>
						<span ng-if="!costDirectContractors.payrollAdminTotal">-</span>
					</td>
					<td class="currency" ng-class="{'sorted': isSortBy('labourCostTotal')}">
						<span ng-if="costDirectContractors.labourCostTotal">{{costDirectContractors.labourCostTotal | currency:'':0}}</span>
						<span ng-if="!costDirectContractors.labourCostTotal">-</span>
					</td>
					<td class="divider"></td>
					<td class="percentage" ng-class="{'sorted': isSortBy('workForcePercent')}">
						<span>{{costDirectContractors.workForcePercent | percentage}}</span>
					</td>
				</tr>
				<tr class="gap">
					<td colspan="9"></td>
				</tr>
				<tr class="sortimatable" ng-repeat="provider in costProviders | orderBy:sortField:sortReverse">
					<th class="minor volume" ng-class="{'sorted': isSortBy('name')}">
						<span>{{provider.name}}</span>
					</th>
					<td class="volume" ng-class="{'sorted': isSortBy('workerCount')}">
						<span>{{provider.workerCount}}</span>
					</td>
					<td class="percentage" ng-class="{'sorted': isSortBy('compliancePercent')}">
						<span>{{provider.compliancePercent | percentage}}</span>
					</td>
					<td class="divider"></td>
					<td class="currency em" ng-class="{'sorted': isSortBy('grossPayTotal')}">
						<span ng-if="provider.grossPayTotal">{{provider.grossPayTotal | currency:'':0}}</span>
						<span ng-if="!provider.grossPayTotal">-</span>
					</td>
					<td class="currency" ng-class="{'sorted': isSortBy('payrollAdminTotal')}">
						<span ng-if="provider.payrollAdminTotal">{{provider.payrollAdminTotal | currency:'':0}}</span>
						<span ng-if="!provider.payrollAdminTotal">-</span>
					</td>
					<td class="currency" ng-class="{'sorted': isSortBy('labourCostTotal')}">
						<span ng-if="provider.labourCostTotal">{{provider.labourCostTotal | currency:'':0}}</span>
						<span ng-if="!provider.labourCostTotal">-</span>
					</td>
					<td class="divider"></td>
					<td class="percentage" ng-class="{'sorted': isSortBy('workForcePercent')}">
						<span>{{provider.workForcePercent | percentage}}</span>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr class="gap">
					<td colspan="9"></td>
				</tr>
				<tr class="totals">
					<th class="minor volume" ng-class="{'sorted': isSortBy('name')}">
						<span>{{costTotal.name}}</span>
					</th>
					<td class="volume" ng-class="{'sorted': isSortBy('workerCount')}">
						<span>{{costTotal.workerCount}}</span>
					</td>
					<td class="percentage" ng-class="{'sorted': isSortBy('compliancePercent')}">
						<span>{{costTotal.compliancePercent | percentage}}</span>
					</td>
					<td class="divider"></td>
					<td class="currency em" ng-class="{'sorted': isSortBy('grossPayTotal')}">
						<span ng-if="costTotal.grossPayTotal">{{costTotal.grossPayTotal | currency:'':0}}</span>
						<span ng-if="!costTotal.grossPayTotal">-</span>
					</td>
					<td class="currency" ng-class="{'sorted': isSortBy('payrollAdminTotal')}">
						<span ng-if="costTotal.payrollAdminTotal">{{costTotal.payrollAdminTotal | currency:'':0}}</span>
						<span ng-if="!costTotal.payrollAdminTotal">-</span>
					</td>
					<td class="currency" ng-class="{'sorted': isSortBy('labourCostTotal')}">
						<span ng-if="costTotal.labourCostTotal">{{costTotal.labourCostTotal | currency:'':0}}</span>
						<span ng-if="!costTotal.labourCostTotal">-</span>
					</td>
					<td class="minimum divider"></td>
					<td class="percentage" ng-class="{'sorted': isSortBy('workForcePercent')}">
						<span>{{costTotal.workForcePercent | percentage}}</span>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
